*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body{
    background-image: url('mainbg.jpg');
    background-size: 500px;
}
.hero h1{
    background-color: palevioletred;
    color: snow;
    text-align:center;
    font-size: 48px;
    font-family: Dosis;
    font-variant: bold;
    box-shadow: 0 4px 2px -2px pink;
  }
.banner{
    display: flex;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%
}
.left-column{
    background-color: palevioletred;
    margin-left: 80px;
    margin-right: 30px;
    border-radius: 8px;
    height: 300px;
}
.left-column h1{
    color: snow;
    font-size: 35px;
    font-family: Dosis;
    border-radius: 8px;
}
.left-column h2{
    margin-top: 20px;
    color: snow;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.right-column img{
    height: 300px;
    border-radius: 8px;
    margin-right: 80px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-left: 50px;
}
.card{
    width: 200px;
    background-color: snow;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;
    margin-right: 100px;
}
.card img{
    width:100%;
    height:auto;
}
.card h3{
    text-align: center;
}
.card p{
    text-align: center;
}
.card-content{
    padding: 12px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.review{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.review h1{
    border-radius: 8px;
}
.hero table{
    border-collapse: collapse;
    margin-top: 100px;
    font-size: 20px;
    width: 600px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    font-weight: bold;
}
.hero table thead tr{
    width: 50px;
    background-color: palevioletred;
    color: snow;
    text-align: left;
    font-weight: bold;
    border: 1px solid palevioletred;
}
.hero table th,
.hero table td{
    padding: 12px 15px;   
}
.product-image img{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid palevioletred;
} 
.hero table tbody tr{
    border-bottom: 1px solid palevioletred;
    border-left: 1px solid palevioletred;
    border-right: 1px solid palevioletred;
    color: palevioletred;
}
.hero table tbody tr:nth-of-type(even){
    background-color: snow;
}
.hero table tbody tr:last-of-type{
    border-bottom: 1px solid palevioletred;
}
.comment-box{
    margin-top: 30px;
    border-radius: 4px;
    position: absolute;
    padding: 10px;
    overflow: hidden;
}
.comment-box h2{
    color: palevioletred;
}
.comment-box textarea{
    background: snow;
    height: 200px;
    width: 550px;
    border-color: palevioletred;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}
.comment-box textarea:focus{
    outline-color: pink;
}
.comment-box .comment-submit{
    margin-right: 70px;
    float: right;
    padding: 6px 14px;
    border: none;
    background: palevioletred;
    border-radius: 4px;
    color: snow;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.comment-box .comment-submit:hover{
    background: pink;
}
.comment-box input{
    margin-top: 20px;
    width: 550px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid palevioletred;
    border-radius: 8px;
    overflow: hidden;
}
.comment-box input:focus{
    outline-color: pink;
}
.right-column iframe{
    margin-top: 450px;
    margin-left: 12px;
    border-radius: 8px;
    width: 550px; 
    height: 300px;
}

    
@media screen and (max-width: 480px) {
    .banner {
        flex-direction: column;
        align-items: center; 
    }
    .left-column, .right-column{
        flex-basis: 100%;
    }
    .left-column{
        margin: 10px;
        padding: 10px;
        width: 380px;
    }
    .right-column iframe{
        margin-top: 380px;
        margin-left: 10px;
        margin-right:10px;
        width: 380px;
        height: 200px;
    }

    .right-column img{
        margin: 10px;
        width: 380px;
        height: 200px;
        margin-left: 10px;
    }

    .hero h1{
        font-size: 36px;
    }

    .left-column table th{ 
        color: palevioletred;
        background-color: snow;
    }

    .left-column table{
        font-size: 14px;
        margin-top: 10px; 
        background-color: snow;
        margin-bottom: 10px;
        width: 360px;
    }

    .comment-box input, .comment-box textarea{
        font-size: 14px; 
        width: 370px;
        margin-left: 10px;
    }

    .card-container{
        margin: 10px;
    }

    .card{
        margin: 10px auto; 
    }

    .hero h1{
        font-size: 28px;
    }
    .left-column h2{
        font-size: 16px;
    }
    .comment-box textarea{
        height: 120px;
    }
    .card-content h3{
        font-size: 18px; 
    }
}

